.expense-item {
  @include d_flex();
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: $thirdColor;
}

.expense-item__description {
  @include d_flex(column, flex-start, true, flex-end);
  gap: 1rem;
  flex-flow: column-reverse;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: $mainColor;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  animation: resizing 3s infinite;
}

@media (min-width: 580px) {
  .expense-item__description {
    @include d_flex(row, flex-start);
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: $mainFontSize;
  }

  .expense-item__price {
    font-size: $mainFontSize;
    padding: 0.5rem 1.5rem;
  }
}
