// colors
$mainColor: rgb(141, 24, 36);
$mainColorHover: rgb(136, 12, 25);
$secondaryColor: royalblue;
$secondColor: rgb(28, 30, 31);
$thirdColor: #3a3a3a;

// sizes & timelines
$mainFontSize: 1.25rem;
$trans: 0.3s;

// heavy
$mainBox: 0 0 13px 11px $mainColor;
